{{ form_start(passwordForm) }}
    {{ form_widget(passwordForm) }}
    <input type="hidden" name="_token" value="{{ csrf_token('changepassword' ~ app.user.id) }}">
    <div class="my-3 text-right">
        <button class="btn btn-success">{{ button_label|default('Changer mon mot de passe') }} <i class="fas fa-unlock-alt"></i></button>
    </div>
{{ form_end(passwordForm) }}
