{% extends 'base.html.twig' %}

{% block title %}Ynovagroup - Votre groupement de pharmaciens indépendants
{% endblock %}

{% block body %}

    <!-- Bootstrap Container -->
    <div class="container-fluid p-0 bg-white">
        <!-- H E A D E R  S E C T I O N -->
        <header class="header">
            <!-- H E R O  S E C T I O N -->
            <section id="hero" src="{{ asset('images/ynovagroup_hero.jpg') }}" class="jumbotron-fluid container-fluid text-center img-fluid">
                <div class="jumbotron-fluid container-fluid text-center">
                    <h1 class="display-4 text-uppercase">Ynovagroup</h1>
                    <p class="lead">Nous sommes un groupement de pharmaciens indépendants à votre service.</p>
                    <p class="lead">
                        <a class="btn btn-success btn-sm p-2" href="#valeurs" role="button">En savoir plus</a>
                    </p>
                </div>
            </section>
        </header>
        <!-- M A I N  S E C T I O N -->
        <main class="main container p-0">
            <!-- Citation Section -->
            <section id="about" class="container-fluid p-0 text-center py-3">
                <!-- Section heading -->
                <h2 class="titre h1-responsive font-weight-bold my-5">Qui sommes-nous ?</h2>
                <div class="wrapper-carousel-fix">
                    <!-- Carousel Wrapper -->
                    <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel"
                    data-interval="false">
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                            <div class="testimonial">
                                <!--Content-->
                                <p class="m-5 font-weight-lighter font-italic">
                                <i class="fas fa-quote-left"></i>  Ynovagroup est un groupement créé par des pharmaciens de votre région qui connaissent vos problématiques et les rencrontrent tous les jours.
                                </p>
                                <p class="m-5 font-weight-lighter font-italic">
                                Nous sommes composés d'une équipe pluridisciplinaire de pharmaciens et de professionnels du secteur pharmaceutique.
                                <br>
                                Notre souhait : être présents à vos côtés au quotidien pour relever les défis de l'office.
                                </p>
                                <p class="m-5 font-weight-lighter font-italic">
                                Notre souhait : être présents à vos côtés au quotidien pour relever les défis de l'office.
                                </p>
                            <!--Avatar-->
                                <div class="avatar mx-auto mb-4">
                                <img src="{{ asset('images/ynovagroup_logo.png') }}" class="rounded-circle img-fluid"
                                    alt="Ynovagroup Logo" width="300" height="100">
                                </div>
                                {# <h5 class="font-weight-bold text-uppercase">Ynovagroup</h5> #}
                                <h6 class="font-weight-lighter">Votre groupement de pharmaciens indépendants</h6>
                            </div>
                        </div>
            </section>
            <!-- N O S  V A L E U R S -->
            <section id="valeurs">
            <!-- Respect -->
            <div class="container-fluid p-0 text-center my-5">
                <h2 class="titre-valeurs h1-responsive font-weight-bold my-5">Nos valeurs</h2>
                <div class="valeurs">
                    <img class="valeurs-img" src="{{ asset('images/respect.png') }}" alt="" width="250" height="250">
                    <div class="valeurs-text m-5">
                        <h3 class="valeurs-text-title text-uppercase">Respect</h3>
                            <p class="m-5 font-weight-lighter font-italic">
                            Vous préservez votre indépendance professionnelle
                        </p>
                    </div>
                </div>
            </div>  
            <!-- Satisfaction -->
            <div class="container-fluid p-0 text-center my-5">
                <div class="valeurs">
                <img class="valeurs-img" src="{{ asset('images/smile.png') }}" alt="" width="250" height="250">
                    <div class="valeurs-text m-5">
                        <h3 class="valeurs-text-title text-uppercase">Satisfaction</h3>
                            <p class="m-5 font-weight-lighter font-italic">
                            Votre confiance est notre préoccupation
                        </p>
                    </div>
                </div>
            </div>  
            <!-- Soutien -->
            <div class="container-fluid p-0 text-center my-5">
                <div class="valeurs">
                    <img class="valeurs-img" src="{{ asset('images/information.png') }}" alt="" width="250" height="250">
                    <div class="valeurs-text m-5">
                        <h3 class="valeurs-text-title text-uppercase">Soutien</h3>
                            <p class="m-5 font-weight-lighter font-italic">
                            Toujours à vos côtés pour une relation pérenne
                        </p>
                    </div>
                </div>
            </div>  
            <!-- Engagement -->
            <div class="container-fluid p-0 text-center my-5">
                <div class="valeurs">
                    <img class="valeurs-img" src="{{ asset('images/network.png') }}" alt="" width="250" height="250">
                    <div class="valeurs-text m-5">
                        <h3 class="valeurs-text-title text-uppercase">Engagement</h3>
                            <p class="m-5 font-weight-lighter font-italic">
                            Notre équipe s'engage dans une démarche proactive axée sur la qualité
                        </p>
                    </div>
                </div>
            </div> 
            <!-- Partage -->
            <div class="container-fluid p-0 text-center my-5">
                <div class="valeurs">
                    <img class="valeurs-img" src="{{ asset('images/share.png') }}" alt="" width="250" height="250">
                    <div class="valeurs-text m-5">
                        <h3 class="valeurs-text-title text-uppercase">Partage</h3>
                            <p class="m-5 font-weight-lighter font-italic">
                            Échange et communication, facteurs clés de synergie
                        </p>
                    </div>
                </div>
            </div>  
            <!-- Excellence -->
            <div class="container-fluid p-0 text-center my-5">
                <div class="valeurs">
                    <img class="valeurs-img" src="{{ asset('images/review.png') }}" alt="" width="250" height="250">
                    <div class="valeurs-text m-5">
                        <h3 class="valeurs-text-title text-uppercase">Excellence</h3>
                            <p class="m-5 font-weight-lighter font-italic">
                            L'expertise de professionnel entièrement à votre service
                        </p>
                    </div>
                </div>
            </div>
            </section>
            <!-- N O T R E  D I F F E R E N C E -->
            <section id="difference">
                <div class="container-fluid p-0 text-center m-5">
                <h2 class="titre-difference h1-responsive font-weight-bold m-5">Notre différence</h2>
                    <div class="panel">
                        <div class="panel-box">
                            <div class="panel-box-text m-3">
                                <h4 class="h4-responsive font-weight-bold">
                                    <i class="fas fa-angle-double-right fa-1x"></i>
                                    Écoute et disponibilité
                                </h4>
                                <p class="font-weight-lighter m-5">Un interlocuteur proche de vous pour pérenniser le dynamisme de votre officine</p>
                            </div>
                            <div class="panel-box-text m-3">
                                <h4 class="h4-responsive font-weight-bold">
                                    <i class="fas fa-angle-double-right fa-1x"></i>
                                    Une offre complète
                                </h4>
                                <p class="font-weight-lighter m-5">Une intervention sur les 4 dimensions clé de l'officine</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-box">
                            <div class="panel-box-text m-3">
                                <h4 class="h4-responsive font-weight-bold">
                                    <i class="fas fa-angle-double-right fa-1x"></i>
                                    Répondre à vos problématiques spécifiques
                                </h4>
                                <p class="font-weight-lighter m-5">Votre conseiller vous accompagne pour mettre en place un plan d'action personnalisé</p>
                            </div>
                            <div class="panel-box-text m-3">
                                <h4 class="h4-responsive font-weight-bold">
                                    <i class="fas fa-angle-double-right fa-1x"></i>
                                    Toute votre équipe au ceur de nos préoccupations
                                </h4>
                                <p class="font-weight-lighter m-5">Une approche innovante de la formation et des supports techniques éprouvés</p>
                            </div>
                        </div>
                    </div>    
                </div>  
            </section>
            <!-- I N T E R L U D E -->
            <section>
             <div class="container-fluid p-0 text-center m-5">
                <h3 class="h3-responsive font-weight-bold m-5">Nous intervenons sur les 4 dimensions clés de l'officine</h3>
                <p>Chez Ynovagroup, nous disposons de techniques professionnelles et d'outils testés sur-mesure pour vous proposer un accompagnement quotidien sur les 4 dimensions clés de l'officine</p>
            </div>
            </section>
            <!-- N O S  O B J E C T I F S -->
            <section id="objectifs">
                <div class="container-fluid p-0 text-center m-5">
                <h2 class="titre-objectifs h1-responsive font-weight-bold m-5">Nos objectifs</h2>
                    <div class="panel">
                        <div class="panel-box m-5">
                            <div class="panel-box-text m-5">
                                <h4 class="h4-responsive font-weight-bold">
                                    <i class="far fa-check-square fa-1x"></i>
                                    La relation au patient-client
                                </h4>
                                <ul class="font-weight-lighter m-5">
                                    <li>Capter de nouveaux clients</li>
                                    <li>Fidéliser la clientèle</li>
                                    <li>Augmenter le panier moyen</li>
                                </ul>
                            </div>
                            <div class="panel-box-text m-5">
                               <h4 class="h4-responsive font-weight-bold">
                                    <i class="far fa-check-square fa-1x"></i>
                                    La politique commerciale
                                </h4>
                                <ul class="font-weight-lighter m-5">
                                    <li>Définir votre stratégie commerciale</li>
                                    <li>Rendrez votre espace de vente plus attractif</li>
                                    <li>Maximiser le potentiel de votre référencement produit</li>
                                    <li>Dynamiser quotidiennement votre officine</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-box">
                            <div class="panel-box-text m-5">
                                <h4 class="h4-responsive font-weight-bold">
                                    <i class="far fa-check-square fa-1x"></i>
                                    L'optimisation des achats
                                </h4>
                                <ul class="font-weight-lighter m-5">
                                    <li>Accords grossistes à des conditions préférentielles</li>
                                    <li>Accords génériqueurs attractifs</li>
                                    <li>Achats VIP</li>
                                    <li>Laboratoires partenaires parmi les leaders</li>
                                </ul>
                            </div>
                            <div class="panel-box-text m-5">
                                <h4 class="h4-responsive font-weight-bold">
                                    <i class="far fa-check-square fa-1x"></i>
                                    La formation de l'équipe officinale
                                </h4>
                                <ul class="font-weight-lighter m-5">
                                    <li>Accompagnement au quotidien</li>
                                    <li>Formation en équipe</li>
                                    <li>Mise à disposition de fiches pratiques</li>
                                    <li>Coaching individuel en situation</li>
                                </ul>
                        </div>
                    </div>    
                </div>  
            </section>
            {# <div id="parallax" src="{{ asset('images/ynovagroup_hero.jpg') }}" class="container-fluid" data-type="background" data-speed="3">
                
            </div> #}
            <section 
                id="parallax" 
                class="img-fluid"
            >
            </section>
            <!-- C O N T A C T -->
            <section id="contact" class="container-fluid p-0 text-center py-5 m-0">
             <h2 class="titre-contact h1-responsive font-weight-bold my-5">Contact</h2>
                <form class="p-5">
                    <div class="form-group">
                        <label for="formGroupExampleInput2">NOM Prénom</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Veuillez renseigner votre identité" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Adresse e-mail</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer votre adresse e-mail" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea type="textarea" class="form-control" id="exampleFormControlTextarea1" placeholder="Veuillez écrire ici votre message..." required rows="10"></textarea>
                    </div>
                    <button type="submit" class="form-btn btn btn-success">
                        Envoyer
                        <i class="far fa-paper-plane"></i>
                    </button>
                </form>
            </section>
            <!--Modal v.1-->
            <div class="modal" tabindex="-1" role="dialog" id="popup">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Politique de confidentialité</h5>
                        <button type="button" id="popupClose" class="close" data-dismiss="modal" aria-label="Close" onclick="this.parentElement.parentElement.style.display='none';">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Nous utilisons des cookies pour vous garantir la meilleure expérience sur notre site web. La navigation sur ce site implique leur acceptation.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="popupOK" onclick="this.parentElement.parentElement.style.display='none';">
                            OK
                            <i class="fas fa-check"></i>
                        </button>
                        <button type="button" class="btn btn-light" data-dismiss="modal"><a href="{{ path('rgpd') }}" class="a-rgpd">En savoir plus</a></button>
                    </div>
                    </div>
                </div>
            </div>

        </main>
        
{% endblock %}
