{% extends 'base.html.twig' %}

{% block title %}Ynovagroup - Votre groupement de pharmaciens indépendants{% endblock %}

{% block body %}
    <!-- Bootstrap Container -->
    <div class="container-fluid p-0 bg-white">
        <!-- H E A D E R  S E C T I O N -->
        <header class="header">
            <!-- H E R O  S E C T I O N -->
            <section id="hero" src="{{ asset('images/ynovagroup_hero.jpg') }}" class="jumbotron-fluid container-fluid text-center img-fluid">
                <div class="jumbotron-fluid container-fluid text-center">
                    <h1 class="display-4 text-uppercase">Ynovagroup</h1>
                    <p class="lead">Nous sommes LE groupement de pharmaciens indépendants</p>
                    <p class="lead">
                        <a class="btn btn-success btn-sm p-2" href="#valeurs" role="button">En savoir plus</a>
                    </p>
                </div>
            </section>
        </header>
        <!-- M A I N  S E C T I O N -->
        <main class="main container-fluid p-0">
            <!-- Citation Actu -->
            <section id="actu" class="container-fluid p-0 text-center py-3">
                <!-- Section heading -->
                <h2 class="titre h1-responsive font-weight-bold my-5">Actualités</h2>


                <!-- Début du carousel -->
{# 
                <div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
      {% for post in articles %}
        {% if post.picture is not null %}
            <img class="d-block w-100" src="{{ vich_uploader_asset(post, ‘pictureFile’) }}" alt="{{ post.title|default("illustration de l\‘article") }}" />
        {% endif %}
        <div class="carousel-caption d-none d-md-block">
          <h5>{{post.title}}</h5>
        </div>
        {% endfor %}
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> #}
<!-- fin du carousel -->
            </section>

            {# {{dump (articles)}} #}
                        
            <!-- Citation Section -->
            <section id="about" class="container-fluid p-0 text-center py-3 mt-5">
                <!-- Section heading -->
                <h2 class="titre h1-responsive font-weight-bold my-5">Qui sommes-nous ?</h2>
                <div class="wrapper-carousel-fix">
                    <!-- Carousel Wrapper -->
                    <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel"
                    data-interval="false">
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                            <div class="testimonial">
                                <!--Content-->
                                <p class="m-5 font-weight-lighter font-italic">
                                <i class="fas fa-quote-left"></i>Ynovagroup est un groupement créé par des pharmaciens de votre région qui connaissent vos problématiques et les rencontrent tous les jours.
                                </p>
                                <p class="m-5 font-weight-lighter font-italic">
                                Nous sommes composés d'une équipe pluridisciplinaire de pharmaciens et de professionnels du secteur pharmaceutique.
                                <br>
                                Notre souhait : être présents à vos côtés au quotidien pour relever les défis de l'office.
                                </p>
                                <p class="m-5 font-weight-lighter font-italic">
                                Notre souhait : être présents à vos côtés au quotidien pour relever les défis de l'office.
                                </p>
                            <!--Avatar-->
                                <div class="avatar mx-auto">
                                {% if theme.picture is defined %}
                                    <img class="rounded-circle img-fluid" width="300" height="100" src="{{ vich_uploader_asset(theme, 'pictureFile') }}" alt="{{ theme.name|default('logo Ynovagroup') }}">
                                {% else %}
                                    <img class="rounded-circle img-fluid" width="300" height="100" src="{{ asset('images/ynovagroup_logo.png') }}" alt="logo Ynovagroup">
                                {% endif %}
                                </div>
                                <h6 class="font-weight-lighter">Votre groupement de pharmaciens indépendants</h6>
                            </div>
                        </div>
            </section>
            <!-- N O S  V A L E U R S -->
            <section id="valeurs">
            <!-- Respect -->
            <div class="container-fluid p-0 text-center my-5">
                <h2 class="titre-valeurs h1-responsive font-weight-bold my-5">Nos valeurs</h2>
                <div class="valeurs">
                    <img class="valeurs-img" src="{{ asset('images/respect.png') }}" alt="" width="250" height="250">
                    <div class="valeurs-text m-5">
                        <h3 class="valeurs-text-title text-uppercase">Respect</h3>
                            <p class="m-5 font-weight-lighter font-italic">
                            Vous préservez votre indépendance professionnelle
                        </p>
                    </div>
                    <img class="valeurs-logo reveal-1" src="{{ asset('images/ynovagroup_logo.png') }}" alt="">
                </div>
            </div>  
            <!-- Satisfaction -->
            <div class="container-fluid p-0 text-center my-5">
                <div class="valeurs">
                <img class="valeurs-img" src="{{ asset('images/smile.png') }}" alt="" width="250" height="250">
                    <div class="valeurs-text m-5">
                        <h3 class="valeurs-text-title text-uppercase">Satisfaction</h3>
                            <p class="m-5 font-weight-lighter font-italic">
                            Votre confiance est notre préoccupation
                        </p>
                    </div>
                     <img class="valeurs-logo reveal-2" src="{{ asset('images/ynovagroup_logo.png') }}" alt="">
                </div>
            </div>  
            <!-- Soutien -->
            <div class="container-fluid p-0 text-center my-5">
                <div class="valeurs">
                    <img class="valeurs-img" src="{{ asset('images/information.png') }}" alt="" width="250" height="250">
                    <div class="valeurs-text m-5">
                        <h3 class="valeurs-text-title text-uppercase">Soutien</h3>
                            <p class="m-5 font-weight-lighter font-italic">
                            Toujours à vos côtés pour une relation pérenne
                        </p>
                    </div>
                     <img class="valeurs-logo reveal-3" src="{{ asset('images/ynovagroup_logo.png') }}" alt="">
                </div>
            </div>  
            <!-- Engagement -->
            <div class="container-fluid p-0 text-center my-5">
                <div class="valeurs">
                    <img class="valeurs-img" src="{{ asset('images/network.png') }}" alt="" width="250" height="250">
                    <div class="valeurs-text m-5">
                        <h3 class="valeurs-text-title text-uppercase">Engagement</h3>
                            <p class="m-5 font-weight-lighter font-italic">
                            Notre équipe s'engage dans une démarche proactive de qualité
                        </p>
                    </div>
                     <img class="valeurs-logo reveal-4" src="{{ asset('images/ynovagroup_logo.png') }}" alt="">
                </div>
            </div> 
            <!-- Partage -->
            <div class="container-fluid p-0 text-center my-5">
                <div class="valeurs">
                    <img class="valeurs-img" src="{{ asset('images/share.png') }}" alt="" width="250" height="250">
                    <div class="valeurs-text m-5">
                        <h3 class="valeurs-text-title text-uppercase">Partage</h3>
                            <p class="m-5 font-weight-lighter font-italic">
                            Échange et communication, facteurs clés de synergie
                        </p>
                    </div>
                     <img class="valeurs-logo reveal-5" src="{{ asset('images/ynovagroup_logo.png') }}" alt="">
                </div>
            </div>  
            <!-- Excellence -->
            <div class="container-fluid p-0 text-center my-5">
                <div class="valeurs">
                    <img class="valeurs-img" src="{{ asset('images/review.png') }}" alt="" width="250" height="250">
                    <div class="valeurs-text m-5">
                        <h3 class="valeurs-text-title text-uppercase">Excellence</h3>
                            <p class="m-5 font-weight-lighter font-italic">
                            L'expertise de professionnel entièrement à votre service
                        </p>
                    </div>
                     <img class="valeurs-logo reveal-6" src="{{ asset('images/ynovagroup_logo.png') }}" alt="">
                </div>
            </div>
            </section>
            <!-- N O T R E  D I F F E R E N C E -->
            <section id="difference">
                <div class="text-center">
                    {{ include('/home/_nosdifferences.html.twig') }}
                </div>
            </section>
            <!-- N O S  O B J E C T I F S -->
            <section id="objectifs">
                <div class="container-fluid p-0 text-center m-5">
                <h2 class="titre-objectifs h1-responsive font-weight-bold m-5">Nos objectifs</h2>
                    <div class="panel">
                        <div class="panel-box m-5">
                            <div class="panel-box-text m-5">
                                <h4 class="h4-responsive font-weight-bold">
                                    <i class="far fa-check-square fa-1x"></i>
                                    La relation au patient-client
                                </h4>
                                <ul class="font-weight-lighter m-5">
                                    <li>Capter de nouveaux clients</li>
                                    <li>Fidéliser la clientèle</li>
                                    <li>Augmenter le panier moyen</li>
                                </ul>
                            </div>
                            <div class="panel-box-text m-5">
                               <h4 class="h4-responsive font-weight-bold">
                                    <i class="far fa-check-square fa-1x"></i>
                                    La politique commerciale
                                </h4>
                                <ul class="font-weight-lighter m-5">
                                    <li>Définir votre stratégie commerciale</li>
                                    <li>Rendrez votre espace de vente plus attractif</li>
                                    <li>Maximiser le potentiel de votre référencement produit</li>
                                    <li>Dynamiser quotidiennement votre officine</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-box">
                            <div class="panel-box-text m-5">
                                <h4 class="h4-responsive font-weight-bold">
                                    <i class="far fa-check-square fa-1x"></i>
                                    L'optimisation des achats
                                </h4>
                                <ul class="font-weight-lighter m-5">
                                    <li>Accords grossistes à des conditions préférentielles</li>
                                    <li>Accords génériqueurs attractifs</li>
                                    <li>Achats VIP</li>
                                    <li>Laboratoires partenaires parmi les leaders</li>
                                </ul>
                            </div>
                            <div class="panel-box-text m-5">
                                <h4 class="h4-responsive font-weight-bold">
                                    <i class="far fa-check-square fa-1x"></i>
                                    La formation de l'équipe officinale
                                </h4>
                                <ul class="font-weight-lighter m-5">
                                    <li>Accompagnement au quotidien</li>
                                    <li>Formation en équipe</li>
                                    <li>Mise à disposition de fiches pratiques</li>
                                    <li>Coaching individuel en situation</li>
                                </ul>
                        </div>
                    </div>    
                </div>  
            </section>
            {# <div id="parallax" src="{{ asset('images/ynovagroup_hero.jpg') }}" class="container-fluid" data-type="background" data-speed="3">
                
            </div> #}
            <section 
                id="parallax" 
                class="img-fluid"
            >
            </section>
            <!-- C O N T A C T -->
            <section id="contact" class="container-fluid p-0 text-center py-5 m-0">
                <h2 class="titre-contact h1-responsive font-weight-bold my-5">Contact</h2>
                <div class="container" style="max-width: 700px;">
                    {{ include('/partials/_flash.html.twig') }}
                    {{ include('/home/_mailform.html.twig') }}
                </div>
            </section>
        </main>
        <div id="sticky-footer">
            <a id="mail" class="footer-slim-link" href="mailto:contact@ynovagroup.com" class="p-3">contact@ynovagroup.com</a>
            <a id="tel" class="footer-slim-link" href="tel:+33134205268" class="p-3">+33 (0)9 82 38 54 56</a>
        </div>
{% endblock %}
