{% extends 'base.html.twig' %}

{% block title %}Ynovagroup - Votre groupement de pharmaciens indépendants
{% endblock %}

{% block body %}

<!-- Partenaires -->
<div id="partner" class="container p-0">
    <main class="container-fluid mt-5">
    <h1 class="h2 mt-3 text-center">Nos partenaires</h1>
    <section id="partenaires">
        <div class="partenaire">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" alt="Ynovagroup Logo">
            <a class="" href="">Lien</a>
        </div>
        <div class="partenaire">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" alt="Ynovagroup Logo">
            <a class="" href="">Lien</a>
        </div>
        <div class="partenaire">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" alt="Ynovagroup Logo">
            <a class="" href="">Lien</a>
        </div>
        <div class="partenaire">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" alt="Ynovagroup Logo">
            <a class="" href="">Lien</a>
        </div>
        <div class="partenaire">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" alt="Ynovagroup Logo">
            <a class="" href="">Lien</a>
        </div>
        <div class="partenaire">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" alt="Ynovagroup Logo">
            <a class="" href="">Lien</a>
        </div>
        <div class="partenaire">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" alt="Ynovagroup Logo">
            <a class="" href="">Lien</a>
        </div>
        <div class="partenaire">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" alt="Ynovagroup Logo">
            <a class="" href="">Lien</a>
        </div>
        <div class="partenaire">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" alt="Ynovagroup Logo">
            <a class="" href="">Lien</a>
        </div>
        <div class="partenaire">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" alt="Ynovagroup Logo">
            <a class="" href="">Lien</a>
        </div>
        <div class="partenaire">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" alt="Ynovagroup Logo">
            <a class="" href="">Lien</a>
        </div>
        <div class="partenaire">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" alt="Ynovagroup Logo">
            <a class="" href="">Lien</a>
        </div>
    </section>
    </main>
</div>

{% endblock %}
