<!-- Navigation with a burger menu -->
<header class="header py-5">
    <nav class="navbar fixed-top navbar-expand-xl navbar-light bg-white ">
        <a class="navbar-brand" href="{{ current == 'home'? '#hero' : path('home') }}">
            <img src="{{ asset('images/ynovagroup_logo.png') }}" width="200" height="70" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="nav" class="navbar-nav mx-auto">
                {% if current == 'home' %}
                    <li class="nav-item {{ current == 'home'? 'active'}}">
                        <a class="nav-link" href="#">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Qui sommes-nous ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#valeurs">Nos valeurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#difference">Notre différence</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#objectifs">Nos objectifs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {{ current == 'blog'? 'active'}}" href="{{ path('blog') }}">Blog</a>
                    </li>

                    {# /vianney la différence avec is_granted('IS_AUTHENTICATED_FULLY') ?

                    => IS_AUTHENTICATED_REMEMBERED = je suis connecté depuis la session,
                    même si j'ai fermé le site et que je rouvre le lendemain, je peux être toujours connecté tant que le cookie de session est bon
                    (le cookie a une durée de validité, mais si je coche laz case: se souvenir de moi, il n'est pas détruit quand je ferme le navigateur)
                    => IS_AUTHENTICATED_FULLY => je suis connecté depuis la session courante, c'est à dire: je viens de me connecter,
                    si je me suios connecté hier, on me demandera quand même de m'identifier à nouveau pour une meilleur sécurité,
                    c'est intéressant pour des infos sensibles, et ça évite que quelqu'un qui rouvre le pc qui avait toujours la page ouverte puisse accéder à des partie privée
                    sensible par exemple.
                    je pense que pour ce site, ce n'est pas nécessaire et remembered suffit,
                    par contre ça vérifié si tu es connecté mais pas le rôle, donc s'il faut un role admin, ça n'empêche pas de le vérifier aussi
                    le but sera de faire apparaître également le bouton vers le backoffice aux admins notamment #}


                {% if is_granted('ROLE_BUSINESS')%}
                    <li class="nav-item adherent">
                        <a class="nav-link btn btn-primary adherent-btn btn-sm text-white" href="{{ path('backend_notification') }}">
                        Accès back office
                        <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item adherent">
                        <a class="nav-link btn btn-success adherent-btn btn-sm text-white" href="{{ path('app_logout') }}">
                        Déconnexion
                         <i class="far fa-paper-plane"></i>
                        </a>
                    </li>
                {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item adherent">
                        <a class="nav-link login-btn btn btn-primary adherent-btn btn-sm text-white" href="{{ path('profil') }}">
                            <i></i>
                            Mon Espace
                            <i class="far fa-user"></i>
                        </a>
                    </li>
                    <li class="nav-item adherent">
                        <a class="nav-link btn btn-danger adherent-btn btn-sm text-white" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item adherent">
                        <a class="nav-link login-btn btn btn-success adherent-btn btn-sm text-white" href="{{ path('app_login') }}">
                            <i></i>
                            Espace Adhérent
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
