{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Modification d'un thème{% endblock %}

{% block body %}
    <h1>Modification d'un thème</h1>
    <div class="card p-4">
    {{ include('backend/partials/_flash.html.twig') }}
    {{ include('backend/theme/_delete_form.html.twig') }}
    {% if theme.picture is not null %}
        <img class="" style="max-height: 400px" src="{{ vich_uploader_asset(theme, 'pictureFile') }}" alt="{{ theme.title|default('logo du thème') }}" />
    {% else %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
        Aucune image disponible pour ce thème
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endif %}
    {{ include('backend/theme/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
    <a class="link-green" href="{{ path('backend_theme_index') }}">Retour à la liste des thèmes</a>

{% endblock %}