{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Modification d'un partenaire{% endblock %}

{% block body %}
    <h1>Modification d'un partenaire</h1>
    <div class="card p-4">
    {{ include('backend/partials/_flash.html.twig') }}
    {% if partner.image is not null %}
        <img class="card-img-top" style="max-height: 400px" src="{{ vich_uploader_asset(partner, 'imageFile') }}" alt="{{ partner.name|default('illustration du partenaire') }}" />
    {% else %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
        Aucune image disponible pour ce partenaire
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endif %}
        {{ include('backend/partner/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
    <a class="link-green" href="{{ path('backend_partner_index') }}">Retour à la liste des partenaires</a>

    {# {{ include('backend/partner/_delete_form.html.twig') }} #}
{% endblock %}