{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
    <h1>Document: {{ files.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ file.id }}</td>
            </tr>
            <tr>
                <th>Nom du document</th>
                <td>{{ file.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ file.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ file.description }}</td>
            </tr>
            <tr>
                <th>Document actif</th>
                <td>{{ post.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backend_file_index') }}">back to list</a>

    {# <a href="{{ path('backend_file_edit', {'id': files.id}) }}">edit</a> #}

    {# {{ include('backend/company/_delete_form.html.twig') }} #}
{% endblock %}