        <nav class="col-md-2 pr-0 d-none d-lg-block bg-light sidebar">
          <div class="sidebar-sticky">

            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Notifications</span>
              <a class="d-flex align-items-center text-muted" href="#">
              </a>
            </h4>     
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('backend_notification') }}">
                    <i class="fas fa-file-import"></i>
                    Documents reçus
                    <span class="badge badge-pill badge-success">5</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">
                    <i class="far fa-envelope"></i>
                    Messages reçus
                    <span class="badge badge-pill badge-success">2</span>
                </a>
              </li>
            </ul>
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Dashboard</span>
              <a class="d-flex align-items-center text-muted" href="#">
              </a>
            </h4>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('company_index') }}">
                    <i class="far fa-hospital"></i>
                    Pharmacies
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('user_index') }}">
                    <i class="far fa-user"></i>
                    Gestionnaires
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('file_index') }}">
                    <i class="far fa-file-alt"></i>
                    Documents
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('post_index') }}">
                    <i class="far fa-newspaper"></i>
                    Articles
                </a>
              </li>
            </ul>
          </div>
        </nav>