<div class="container-fluid py-5">
    <!-- H E A D E R  S E C T I O N -->
    <header class="header">
        <!-- Navigation with a burger menu -->
        <nav class="fixed-top navbar navbar-expand-xl navbar-light bg-white navbar-fixed-top">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('images/ynovagroup_logo.png') }}" width="200" height="70" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="nav" class="navbar-nav w-100 d-flex justify-content-lg-between">

                    <!-- sidebar items display sm and md only -->
                    <li class="nav-item text-center d-lg-none">
                        <a class="nav-link" href="{{ path('backend_notification') }}">
                            <i class="fas fa-file-import"></i>
                            Documents reçus
                            <span class="badge badge-pill badge-success">5</span>
                        </a>
                    </li>
                    <li class="nav-item text-center d-lg-none">
                        <a class="nav-link" href="{{ path('backend_company_index') }}">
                            <i class="far fa-hospital"></i>
                            Pharmacies
                        </a>
                    </li>
                    <li class="nav-item text-center d-lg-none">
                        <a class="nav-link" href="{{ path('backend_user_index') }}">
                            <i class="far fa-user"></i>
                            Gestionnaires
                        </a>
                    </li>
                    <li class="nav-item text-center d-lg-none">
                        <a class="nav-link" href="{{ path('backend_file_index') }}">
                            <i class="far fa-file-alt"></i>
                            Documents
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN')%}
                    <li class="nav-item text-center d-lg-none">
                        <a class="nav-link" href="{{ path('backend_post_index') }}">
                            <i class="far fa-newspaper"></i>
                            Articles
                        </a>
                    </li>
                    <li class="nav-item text-center d-lg-none">
                        <a class="nav-link" href="{{ path('backend_theme_index') }}">
                            <i class="fas fa-birthday-cake"></i>
                            Thèmes
                        </a>
                    </li>
                    <li class="nav-item text-center d-lg-none">
                        <a class="nav-link" href="{{ path('backend_rss_index') }}">
                            <i class="fas fa-rss"></i>                            
                            RSS
                        </a>
                    </li>
                    <li class="nav-item text-center d-lg-none">
                        <a class="nav-link" href="{{ path('backend_partner_index') }}">
                            <i class="far fa-handshake"></i>                          
                            Partenaires
                        </a>
                    </li>
                    {% endif %}
                    <!-- sidebar items end -->

                    <li class="nav-item text-center">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item text-center adherent">
                        <a class="nav-link btn btn-success adherent-btn btn-sm text-white" href="/logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Déconnexion
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
<div class="container-fluid p-0">