{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Société{% endblock %}

{% block body %}
    <h1>Société: {{ company.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Premier champ d'adresse</th>
                <td>{{ company.firstAdressField }}</td>
            </tr>
            <tr>
                <th>Second champ d'adresse</th>
                <td>{{ company.secondAdressField }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ company.city }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ company.postalCode }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ company.country }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ company.description }}</td>
            </tr>
            <tr>
                <th>Photo de la pharmacie</th>
                <td>{{ company.picture }}</td>
            </tr>
            <tr>
                <th>Utilisateur rattaché</th>
                <td><a href="{{ path('backend_user_show', {'id': company.user.id}) }}">{{ company.user.firstname }} {{ company.user.lastname }}</a></td>
            </tr>
            <tr>
                <th>Commercial rattaché</th>
                <td><a href="{{ path('backend_user_show', {'id': company.commercial.id}) }}">{{ company.commercial.firstname }} {{ company.commercial.lastname }}</a></td>
            </tr>
            <tr>
                <th>Société active</th>
                <td>{{ company.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backend_company_index') }}">back to list</a>

    <a href="{{ path('backend_company_edit', {'id': company.id}) }}">edit</a>

    {# {{ include('backend/company/_delete_form.html.twig') }} #}
{% endblock %}