{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Société</th>
                <th>Email</th>
                <th>Utilisateur actif</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.company.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('backend_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('backend_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('backend_user_new') }}">Create new</a> #}
{% endblock %}
