<div class="tab-pane fade {{ (activePanel == 'profil')? 'show active' }} p-3" id="profil" role="tabpanel" aria-labelledby="profil-tab">    
    <h5 class="h2 font-weight-bold text-success">Mon profil</h5>
    <div>
        {{ dd(company) }}
        {% if company is defined and company.picture is not null %}
            <img class="img-fluid" src="{{ vich_uploader_asset(company, 'pictureFile') }}" alt="{{ company.name|default('photo de la pharmacie') }}" />
        {% else %}
            <img src="https://via.placeholder.com/468x200?text=Image+de+la+pharmacie" class="img-fluid" alt="..."> 
        {% endif %}
    </div>
    <ul class="list-group list-group-flush text-center">
        <li class="list-group-item font-weight-bold text-uppercase">Nom</li>
        <li class="list-group-item">{{ user.lastname|default('') }}</li>
        <li class="list-group-item font-weight-bold text-uppercase">Prénom</li>        
        <li class="list-group-item">{{ user.firstname|default('') }}</li>
        <li class="list-group-item font-weight-bold text-uppercase">Nom de la pharmacie</li>
        <li class="list-group-item">{{ user.company.name|default('') }}</li>
        <li class="list-group-item font-weight-bold text-uppercase">Adhérent depuis</li>
        <li class="list-group-item">{{ (user.company)? user.company.createdAt|date("d/m/y") : '-' }}</li>
        <li class="list-group-item font-weight-bold text-uppercase">Type de contrat</li>
        <li class="list-group-item">{{ user.company.contractType|default('') }}</li>
        <li class="list-group-item font-weight-bold text-uppercase">Nom de la pharmacie</li>
        <li class="list-group-item">{{ user.company.name|default('') }}</li>
        <li class="list-group-item font-weight-bold text-uppercase">Adresse</li>
        <li class="list-group-item">{{ user.company.firstadressfield|default('-') }} {{ user.company.secondadressfield|default('') }}</li>
        <li class="list-group-item font-weight-bold text-uppercase">E-mail</li>
        <li class="list-group-item">{{ user.email|default('-') }}</li>
        <li class="list-group-item font-weight-bold text-uppercase">Téléphone</li>
        <li class="list-group-item">{{ user.company.phone|default('-') }}</li>
    </ul>
</div>
