{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}

<em class="">Bienvenue sur votre espace personnel !<br>Retrouvez ici les informations de votre pharmacie</em>
<div class="container" style="max-width:700px">
    {{ include('/partials/_flash.html.twig') }}
</div>
<div class="container-fluid text-center bg-white">
<!--Backoffice général-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link {{ (activePanel == 'actualite')? 'active' }} text-success" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Actualités</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ (activePanel == 'profil')? 'active' }} text-success" id="profil-tab" data-toggle="tab" href="#profil" role="tab" aria-controls="profil" aria-selected="true">Mon profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ (activePanel == 'files')? 'active' }} text-success" id="document-tab" data-toggle="tab" href="#document" role="tab" aria-controls="document" aria-selected="false">Documents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ (activePanel == 'password')? 'active' }} text-success" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">Mot de passe</a>
    </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!--Actualites-->
            {{ include('/user/_panel_actualites.html.twig') }}
        <!--Actualites-->

        <!--Profil-->
            {{ include('/user/_panel_mon_profil.html.twig') }}
        <!--Profil-->

        <!--Documents-->
            {{ include('/user/_panel_documents.html.twig') }}
        <!--Documents-->
        
        <!--Password-->
            {{ include('/user/_panel_changer_mot_de_passe.html.twig') }}
        <!--Password-->

    </div>
</div>
{% endblock %}
