{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}

<em class="">Bienvenue sur votre espace personnel !<br>Retrouvez ici les informations de votre pharmacie</em>
<div class="container-fluid text-center bg-white">
<!--Backoffice général-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active text-success" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mon profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-success" id="document-tab" data-toggle="tab" href="#document" role="tab" aria-controls="document" aria-selected="false">Documents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-success" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
    </ul>
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active px-5" id="home" role="tabpanel" aria-labelledby="home-tab">
    
    <!--Profil-->
        <h5 class="h2 font-weight-bold text-success">Mon espace</h5>
        {# <em class="">Bienvenue sur votre espace personnel !<br>Retrouvez ici les informations de votre pharmacie</em> #}
        <div>
            {% if company is defined and company.picture is not null %}
                <img class="img-fluid" src="{{ vich_uploader_asset(company, 'pictureFile') }}" alt="{{ company.name|default('photo de la pharmacie') }}" />
            {% else %}
                <img src="https://via.placeholder.com/468x200?text=Image+de+la+pharmacie" class="img-fluid" alt="..."> 
            {% endif %}
        </div>
        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item font-weight-bold text-uppercase">Nom</li>
            <li class="list-group-item">{{ user.lastname }}</li>
            <li class="list-group-item font-weight-bold text-uppercase">Prénom</li>        
            <li class="list-group-item">{{ user.firstname }}</li>
            <li class="list-group-item font-weight-bold text-uppercase">Nom de la pharmacie</li>
            <li class="list-group-item">{{ user.company.name }}</li>
            <li class="list-group-item font-weight-bold text-uppercase">Adresse</li>
            <li class="list-group-item">{{ user.company.firstadressfield|default('-') }} {{ user.company.secondadressfield|default('') }}</li>
            <li class="list-group-item font-weight-bold text-uppercase">E-mail</li>
            <li class="list-group-item">{{ user.email|default('-') }}</li>
            <li class="list-group-item font-weight-bold text-uppercase">Téléphone</li>
            <li class="list-group-item">{{ user.company.phone|default('-') }}</li>
        </ul>

        <div class="card-body">
            <h5 class="h2 font-weight-bold text-success mt-5">Mon commercial</h5>
            <em class="">Retrouvez les coordonnées de votre commercial.</em>
        </div>

        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item font-weight-bold text-uppercase">Nom Prénom</li>
            <li class="list-group-item">
                {{ user.company.commercial.firstname|default('-') }} {{ user.company.commercial.lastname|default('') }}
            </li>
            <li class="list-group-item font-weight-bold text-uppercase">Contact</li>        
            <li class="list-group-item">
                <a href="mailto:{{ user.company.commercial.email|default('-') }}">
                {{ user.company.commercial.email|default('-') }}
                </a>
            </li>
        </ul>
    <!--Profil-->
    
    </div>
    <div class="tab-pane fade p-3" id="document" role="tabpanel" aria-labelledby="document-tab">
    
        <!--Documents-->
            <h5 class="h2 font-weight-bold pt-1 text-success">Mon espace documents</h5>
            <em class=" py-5">Bonjour {{ user.firstname }}, <br> ici vous pourrez transmettre, consulter et télécharger vos fichiers relatifs à vos échanges auprès de votre commercial attitré.</em>
            <div class="card-body">
                <h5 class="h2 font-weight-bold mt-2 text-success">Transmettre un document à mon commercial</h5>
                <form action="" class="mt-5">
                    <div class="form-group">
                        <div class="form-group">
                        <label for="exampleFormControlFile1" class="">
                            <strong>Formats autorisés :</strong> zip, pdf, doc, docx, jpg, xls, ppt, pptx
                        </label>
                        <input type="file" class="form-control-file text-center" id="exampleFormControlFile1">
                        </div>   
                        <button type="submit" class="btn btn-success mt-4">
                            Envoyer
                            <i class="fas fa-file-upload"></i>
                        </button> 
                        </div>
                </form>
            </div>
            <div class="card-body">
                <h5 class="h2 font-weight-bold mt-1 text-success">Consulter mes derniers documents</h5>  
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">Nom du document</th>
                        <th scope="col">Format</th>
                        <th scope="col">Date d'ajout</th>
                        <th scope="col">Disponnible jusqu'au</th>
                        <th scope="col">Télécharger</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for document in documents %}
                        <tr>
                        <th scope="row">{{ document.name|default('-') }}</th>
                        <td>{{ document.documentFile.extension|default('-')}}</td>
                        <td>{{ document.updatedAt|date('d/m/y')|default('-') }}</td>
                        <td>{{ document.deletedAt is empty? "-" : document.deletedAt|date('d/m/y') }}</td>
                        <td>
                            <a href="http://127.0.0.1:8000{{ vich_uploader_asset(document, 'documentFile') }}" ping="{{ path('read_document', { 'id' : document.id }) }}" target="_blank">
                                <i class="fas fa-file-upload fa-lg"></i>
                            </a>
                        </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan=4>Aucun document à télécharger</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
            </div>
        <!--Documents-->
    
    </div>
    <div class="tab-pane fade py-5" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim rerum repudiandae totam quasi iure cum dignissimos eveniet possimus, velit perferendis quis quaerat ipsam, veniam dicta nihil distinctio voluptatem similique rem! Itaque consequuntur enim velit veritatis, amet neque repellendus inventore numquam provident accusantium illo corporis quos, iure modi quis dolorem molestiae.
    </div>
    </div>
</div>
{% endblock %}
