

{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<!--Backoffice général-->
<section class=" ynova-profil">
        <!--Profil-->
        <div class="card text-center ynova-profil-bar">
                <img src="https://via.placeholder.com/468x200?text=Image+de+la+pharmacie" class="img-fluid" alt="...">    
            <div class="card-body">
                <h5 class="card-title font-weight-bold text-success">Mon profil</h5>
                <em class="card-text">Bienvenue sur votre espace personnel !</em>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item font-weight-bold text-uppercase">Nom</li>
                <li class="list-group-item">{{ user.lastname }}</li>
                <li class="list-group-item font-weight-bold text-uppercase">Prénom</li>        
                <li class="list-group-item">{{ user.firstname }}</li>
                <li class="list-group-item font-weight-bold text-uppercase">Adresse</li>
                <li class="list-group-item">{{ app.user.company.firstadressfield|default('-') }} {{ app.user.company.secondadressfield|default('') }}</li>
                <li class="list-group-item font-weight-bold text-uppercase">E-mail</li>
                <li class="list-group-item">prenom@nom.fr</li>
                <li class="list-group-item font-weight-bold text-uppercase">Téléphone</li>
                <li class="list-group-item">0600000000</li>
            </ul>

            <div class="card-body">
                <h5 class="card-title font-weight-bold text-success mt-5">Mon commercial</h5>
                <em class="card-text">Retrouvez les coordonnées de votre commercial.</em>
            </div>

            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item font-weight-bold text-uppercase">Nom Prénom</li>
                <li class="list-group-item">
                    {{ app.user.company.commercial.firstname|default('-') }} {{ app.user.company.commercial.lastname|default('') }}
                </li>
                <li class="list-group-item font-weight-bold text-uppercase">Contact</li>        
                <li class="list-group-item">
                    {{ app.user.company.commercial.email|default('-') }}
                </li>
            </ul>
            <button type="button" class="btn btn-danger mt-5">
                <a href="{{ path('app_logout') }}" class="btn btn-danger">
                    Déconnexion 
                    <i class="fas fa-times"></i>
                </a>
            </button>
        </div>
        <!--Profil-->
        <!--Documents-->
        <div class="card text-center ynova-profil-doc">
            <h5 class="card-title font-weight-bold pt-5 text-success">Mon espace documents</h5>
            <em class="card-text p-3">Bonjour {{ user.firstname }}, <br> ici vous pourrez transmettre, consulter et télécharger vos fichiers relatifs à vos échanges auprès de votre commercial attitré.</em>
        </div>

        <!--Documents-->
</section>
<section class="container-fluid m-3 ">    
        
</section>

{% endblock %}
