

{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<!--Backoffice général-->
<section class=" ynova-profil">
        <!--Profil-->
        <div class="card text-center ynova-profil-bar">
            {% if company is defined and company.picture is not null %}
                <img class="img-fluid" src="{{ vich_uploader_asset(company, 'pictureFile') }}" alt="{{ company.name|default('photo de la pharmacie') }}" />
            {% else %}
                <img src="https://via.placeholder.com/468x200?text=Image+de+la+pharmacie" class="img-fluid" alt="..."> 
            {% endif %}
            <div class="card-body">
                <h5 class="h2 card-title font-weight-bold text-success">Mon profil</h5>
                <em class="card-text">Bienvenue sur votre espace personnel !</em>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item font-weight-bold text-uppercase">Nom</li>
                <li class="list-group-item">{{ user.lastname }}</li>
                <li class="list-group-item font-weight-bold text-uppercase">Prénom</li>        
                <li class="list-group-item">{{ user.firstname }}</li>
                <li class="list-group-item font-weight-bold text-uppercase">Adresse</li>
                <li class="list-group-item">{{ app.user.company.firstadressfield|default('-') }} {{ app.user.company.secondadressfield|default('') }}</li>
                <li class="list-group-item font-weight-bold text-uppercase">E-mail</li>
                <li class="list-group-item">prenom@nom.fr</li>
                <li class="list-group-item font-weight-bold text-uppercase">Téléphone</li>
                <li class="list-group-item">0600000000</li>
            </ul>

            <div class="card-body">
                <h5 class="h2 card-title font-weight-bold text-success mt-5">Mon commercial</h5>
                <em class="card-text">Retrouvez les coordonnées de votre commercial.</em>
            </div>

            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item font-weight-bold text-uppercase">Nom Prénom</li>
                <li class="list-group-item">
                    {{ app.user.company.commercial.firstname|default('-') }} {{ app.user.company.commercial.lastname|default('') }}
                </li>
                <li class="list-group-item font-weight-bold text-uppercase">Contact</li>        
                <li class="list-group-item">
                    {{ app.user.company.commercial.email|default('-') }}
                </li>
            </ul>
            <button type="button" class="btn btn-danger mt-5">
                <a href="{{ path('app_logout') }}" class="btn btn-danger">
                    Déconnexion 
                    <i class="fas fa-times"></i>
                </a>
            </button>
        </div>
        <!--Profil-->
        <!--Documents-->
        <div class="card text-center ynova-profil-doc">
            <h5 class="h2 card-title font-weight-bold pt-5 text-success">Mon espace documents</h5>
            <em class="card-text p-3">Bonjour {{ user.firstname }}, <br> ici vous pourrez transmettre, consulter et télécharger vos fichiers relatifs à vos échanges auprès de votre commercial attitré.</em>
            <div class="card-body">
                <h5 class="h2 card-title font-weight-bold mt-5 text-success">Transmettre un document à mon commercial</h5>
                <form action="" class="mt-5">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Choisir le type de mon document :</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Facture</option>
                            <option>Compte rendu</option>
                            <option>Publicité</option>
                            <option>Autre</option>
                        </select>
                        <div class="form-group">
                        <label for="exampleFormControlFile1" class="mt-3">
                            <strong>Formats autorisés :</strong> pdf, doc, docx, jpg, xls, ppt, pptx
                        </label>
                        <input type="file" class="form-control-file text-center" id="exampleFormControlFile1">
                        </div>   
                        <button type="submit" class="btn btn-success mt-5 p-3">
                            Envoyer
                            <i class="fas fa-file-upload"></i>
                        </button> 
                        </div>
                </form>
            </div>
            <div class="card-body">
                <h5 class="h2 card-title font-weight-bold mt-5 text-success">Consulter mes derniers documents</h5>  
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">Nom du document</th>
                        <th scope="col">Type</th>
                        <th scope="col">Format</th>
                        <th scope="col">Date d'ajout</th>
                        <th scope="col">Télécharger</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">Compte rendu réunion</th>
                        <td>CR</td>
                        <td>.pdf</td>
                        <td>01/06/2019</td>
                        <td>
                            <a href="">
                                <i class="fas fa-file-upload"></i>
                            </a>
                        </td>
                        </tr>
                        <tr>
                        <th scope="row">Compte rendu réunion</th>
                        <td>CR</td>
                        <td>.pdf</td>
                        <td>01/06/2019</td>
                        <td>
                            <a href="">
                                <i class="fas fa-file-upload"></i>
                            </a>
                        </td>
                        </tr>
                        <tr>
                        <th scope="row">Compte rendu réunion</th>
                        <td>CR</td>
                        <td>.pdf</td>
                        <td>01/06/2019</td>
                        <td>
                            <a href="">
                                <i class="fas fa-file-upload"></i>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                    </table>
            </div>

        </div>

        <!--Documents-->
</section>
<section class="container-fluid m-3 ">    
        
</section>

{% endblock %}
